<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="navigator" style="background-color: aliceblue" class="p-1 my-3">
    <th:block th:if="${session.loginUser ne null}">
        <h5 th:text="|${session.loginUser.userId} 로그인되었습니다|"></h5>
        <div class="row">
            <div class="col-8">
                <button type="button" class="btn btn-outline-secondary"
                        onclick="window.location.href = '/user/logout'; alert('로그아웃되었습니다.');" th:text="로그아웃"/>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input type="text" class="form-control" id="memoSearchInputForm" placeholder="메모검색">
                    <span class="btn btn-outline-light" type="button" id="memoSearchBtn">🔍</span>
                </div>
            </div>
        </div>
    </th:block>
    <th:block th:if="${session.loginUser eq null}">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                data-bs-target="#loginModal" th:text="로그인"/>
        <a th:href="@{/user/register}" class="btn btn-outline-secondary">회원가입</a>
    </th:block>


    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">로그인</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="loginForm">
                        <label>아이디</label>
                        <input class="form-control m-2" id="loginFormUserId" name="userId">
                        <label>비밀번호</label>
                        <input class="form-control m-2" id="loginFormUserPw" type="password" name="userPw">
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="loginBtn" class="btn btn-primary">로그인</button>
                </div>
                <div style="text-align: center;">
                    <a id="testLoginAccount" href="#">(둘러보기)로그인 계정</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        //초기화
        $(document).ready(function () {
            $('#loginBtn').click(login);
            $("#loginForm").keypress(function (key) {
                //키가 Enter(13)인경우 로그인시도
                if (key.keyCode === 13) {
                    login();
                }
            });
        });
        $('#testLoginAccount').click(function () {
            $('#loginFormUserId').val('goodee');
            $('#loginFormUserPw').val('1234');
        })

        //로그인
        function login() {
            let loginFormUserId = $('#loginFormUserId').val();
            let loginFormUserPw = $('#loginFormUserPw').val();
            $.ajax({
                url: '/api/v1/user/login',
                type: 'post',
                data: {
                    userId: loginFormUserId,
                    userPw: loginFormUserPw
                },
                success: function (response) {
                    window.location.reload();
                    alert("로그인되었습니다")
                },
                error: function (error) {
                    alert("로그인정보가 일치하지 않습니다")
                }
            });
        }

        $('#memoSearchInputForm').keypress(function (key) {
            //키가 Enter(13)인경우 로그인시도
            if (key.keyCode === 13) {
                searchUserMemo();
            }
        });

        $('#memoSearchBtn').click(searchUserMemo);
        function searchUserMemo() {
            let keyword = $('#memoSearchInputForm').val();
            if (keyword.length < 1) {
                alert("1자이상 입력하세요");
                return;
            }
            window.location.replace('/memo' + '?keyword=' + keyword);

        }
    </script>
</header>
</body>
</html>