<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>달력 다이어리</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .calendar {
            border: 1px solid lavender;
            padding: 10px;
            height: 160px;
            font-size: 15px;
            color: black;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container my-5">
    <div th:replace="~{common/inc :: navigator}"></div>
    <div class="d-flex justify-content-center">
        <a th:href="@{/calendar/{yearMonth}(yearMonth = ${calendar.getYearMonth().minusMonths(1)})}" class="btn btn-outline-secondary m-auto"><b><</b></a>
        <h1 th:text="${calendar.yearMonth}"/>
        <a th:href="@{/calendar/{yearMonth}(yearMonth = ${calendar.getYearMonth().plusMonths(1)})}" class="btn btn-outline-secondary m-auto"><b>></b></a>
    </div>
    <div class="row">
        <div class="col calendar" style="height: 60px; color: red;"><h3>SU</h3></div>
        <div class="col calendar" style="height: 60px;"><h3>MO</h3></div>
        <div class="col calendar" style="height: 60px;"><h3>TU</h3></div>
        <div class="col calendar" style="height: 60px;"><h3>WE</h3></div>
        <div class="col calendar" style="height: 60px;"><h3>TH</h3></div>
        <div class="col calendar" style="height: 60px;"><h3>FR</h3></div>
        <div class="col calendar" style="height: 60px; color: blue;"><h3>SA</h3></div>
    </div>
    <div class="row">
        <th:block th:each="dateVo : ${calendar.dateVoList}" th:with="day = ${dateVo.date.dayOfWeek.name}">
            <div class="col calendar"
                 th:style="${day eq 'SUNDAY' or dateVo.isHoliday eq true}? 'color: red;' : (${day eq 'SATURDAY'}? 'color: blue;')">
                <th:block th:if="${dateVo.date.monthValue eq calendar.yearMonth.monthValue}">
                    <span th:text="${dateVo.date.dayOfMonth}"/>
                    <span th:text="${dateVo.dateName?:''}"/>
                    <span th:if="${T(java.time.LocalDate).now().equals(dateVo.date)}" th:text="오늘" style="background-color: #fffa9e;"/>
                    <button th:if="${session.loginUser ne null}" type="button" class="btn" data-bs-toggle="modal"
                            data-bs-target="#memoView" th:date="${dateVo.date}"
                            onclick="memoViewFunction(this.getAttribute('date'))" style="font-size: x-small">✏️
                    </button>
                    <div th:each="memo : ${dateVo.getThreeMemos()}" th:text="'·'+${memo}"
                         style="font-weight: normal; font-size: small"/>
                </th:block>
            </div>
            <th:block th:if="${dateVoStat.count % 7 == 0}" th:utext="'</div><div class=\'row\'>'"/>
        </th:block>
    </div>

    <!--/* 메모 보기 시작*/-->
    <div class="modal fade" id="memoView" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">메모 <span id="memoViewHead"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table id="memoViewBody" width="100%">

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" id="memoViewAddBtn" class="btn" onclick="addEmptyMemoInView()">메모추가</button>
                    <button type="button" id="memoViewSaveBtn" class="btn btn-primary" onclick="saveMemoInView()">수정
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--/* 메모 보기 종료*/-->
</div>
</body>
<script>
    const memoViewBody = $('#memoViewBody');

    // 메모뷰를 초기화합니다
    function memoViewFunction(date) {
        console.log(date);
        $.ajax({
            url: '/api/v1/memo/' + date,
            type: 'get',
            success: function (response) {
                memoViewBody.text(date);
                memoViewBody.html("");
                $(response).each(printMemos);
                $('#memoViewSaveBtn').attr('onclick', 'saveMemoInView(\'' + date + '\')');
            }
        })
    }

    // 메모뷰에 메모를 출력합니다
    function printMemos(index, item) {
        let memoNo = item.memoNo;
        let memoContent = item.memoContent;
        let memoHtml = '<tr><td width="95%"><input class="form-control my-2" memo-no="' + memoNo + '" value="' + memoContent + '"></td><td><button type="button" class="btn my-2" onclick="deleteMemoInView(this)">🗑️</button></td></tr>';
        memoViewBody.append(memoHtml);
    }

    // 메모를 메모뷰에서 삭제
    function deleteMemoInView(btn) {
        $(btn).closest('tr').remove();
    }

    //빈 메모를 메모뷰에 추가
    function addEmptyMemoInView() {
        let emptyMemoHtml = '<tr><td width="95%"><input class="form-control my-2" memo-no="" value=""></td><td><button type="button" class="btn my-2" onclick="deleteMemoInView(this)">🗑️</button></td></tr>';
        memoViewBody.append(emptyMemoHtml);
    }

    // 메모뷰 저장
    function saveMemoInView(date) {
        let memoListInView = [];
        let inputTags = memoViewBody.find('input');
        inputTags.each(function (index, item) {
            let memoNo = $(item).attr('memo-no');
            let value = $(item).val();
            let memoObject = {
                memoNo: memoNo,
                memoContent: value
            };
            memoListInView.push(memoObject);
        });
        console.log(memoListInView);

        memoSaveRequest(date, memoListInView);
    }

    // 메모 수정 ajax
    function memoSaveRequest(date, memoList) {
        $.ajax({
            url: '/api/v1/memo/' + date,
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify(memoList),
            success: function () {
                alert('메모가 수정되었습니다')
                window.location.reload();
            },
            error: function () {
                alert('메모 수정 실패')
            }
        });
    }

</script>
</html>