<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .calendar {
            border: 1px solid lavender;
            padding: 10px;
            height: 160px;
            font-size: 18px;
            color: black;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container my-5">
    <div class="row">
        <div class="col calendar" style="height: 60px; color: red;"><h3>SU</h3></div>
        <div class="col calendar" style="height: 60px;"><h3>MO</h3></div>
        <div class="col calendar" style="height: 60px;"><h3>TU</h3></div>
        <div class="col calendar" style="height: 60px;"><h3>WE</h3></div>
        <div class="col calendar" style="height: 60px;"><h3>TH</h3></div>
        <div class="col calendar" style="height: 60px;"><h3>FR</h3></div>
        <div class="col calendar" style="height: 60px; color: blue;"><h3>SA</h3></div>
    </div>
    <div th:each="date, rowStat : ${calendar.dateVoList}"
         th:class="${rowStat.index % 7 == 0} ? 'row' : 'col calendar'" th:text="${date.toString()}">
</div>
</body>
</html>