<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maskun.projectdiary.mapper.MemoMapper">
    <select id="selectDateMemoList" parameterType="java.util.Map" resultType="com.maskun.projectdiary.vo.domain.Memo">
        SELECT
            memo_date memoDate,
            memo_content memoContent,
            memo_no memoNo
        FROM `memo`
        WHERE member_id = #{memberId} AND
              memo_date = #{date}
        ORDER BY createdate
    </select>
    <update id="updateMemo" parameterType="java.util.Map">
        UPDATE memo
        SET memo_content = #{memoContent}
        WHERE memo_no = #{memoNo}
    </update>
    <delete id="deleteMemo" parameterType="java.util.Map">
        DELETE FROM memo
        WHERE memo_no = #{memoNo}
    </delete>
    <insert id="insertMemo" parameterType="java.util.Map">
        INSERT INTO memo
            (member_id, memo_date, memo_content)
        VALUES
            (#{memberId},#{date},#{memoContent})
    </insert>
</mapper>