<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maskun.projectdiary.mapper.NoticeMapper">
    <select id="selectNoticeList" parameterType="java.util.Map" resultType="com.maskun.projectdiary.vo.Notice">
        SELECT notice_no noticeNo,
               author,
               notice_title noticeTitle,
               notice_content noticeContent,
               createdate
        FROM notice
        ORDER BY createdate DESC ;
    </select>
    <select id="selectNotice" parameterType="java.util.Map" resultType="com.maskun.projectdiary.vo.Notice">
        SELECT notice_no noticeNo,
               author,
               notice_title noticeTitle,
               notice_content noticeContent,
               createdate
        FROM notice
        WHERE notice_no = #{noticeNo}
        ORDER BY createdate DESC ;
    </select>
    <select id="selectNoticeCommentList" parameterType="java.util.Map" resultType="com.maskun.projectdiary.vo.NoticeComment">
        SELECT comment_no commentNo,
               notice_no noticeNo,
               author,
               comment_content commentContent,
               is_secret isSecret,
               createdate
        FROM notice_comment WHERE notice_no = #{noticeNo};
    </select>
    <insert id="insertNotice" parameterType="java.util.Map">
        INSERT INTO
            notice(author, notice_title, notice_content)
        VALUES (#{memberId},#{notice.noticeTitle}, #{notice.noticeContent});
    </insert>
    <insert id="insertNoticeComment" parameterType="java.util.Map">
        INSERT INTO
            notice_comment(notice_no, author, comment_content, is_secret)
        VALUES (#{comment.noticeNo},#{memberId},#{comment.commentContent},#{comment.isSecret})
    </insert>
    <update id="updateNoticeComment" parameterType="java.util.Map">
        UPDATE
            notice_comment
        SET comment_content = #{comment.commentContent}
        WHERE comment_no = #{comment.commentNo};
    </update>
    <update id="deleteNoticeComment" parameterType="java.util.Map">
        DELETE FROM notice_comment
        WHERE comment_no = #{comment.commentNo};
    </update>
</mapper>