<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maskun.projectdiary.mapper.UserMapper">
    <select id="findUserForLogin" parameterType="java.util.Map" resultType="com.maskun.projectdiary.domain.entity.User">
        select
            user_id userId,
            user_level userLevel,
            createdate
        from user
        where user_id = #{userId} AND user_pw = PASSWORD(#{userPw})
    </select>
    <insert id="insertUser" parameterType="com.maskun.projectdiary.domain.entity.User">
        INSERT INTO user(user_id, user_pw)
        VALUES (#{userId}, PASSWORD(#{userPw}))
    </insert>
</mapper>